<h1>Display your Pirate here</h1>
<h3> Pirate's name: <%= @piratename%></h3><br>
<h3> Pirate's weight: <%= @pirateweight%> pounds</h3><br>
<h3> Pirate's height: <%= @pirateheight%> inches</h3>

<h2>Display your first ship here</h2><br>
<h3> Ship 1 Name: <%= @ship1name%></h3><br>
<h3> Ship 1 Type: <%= @ship1type%></h3><br>
<h3> Ship 1 Booty: <%= @ship1booty%></h3><br><br>

<h2>Display your second ship here</h2><br>
<h3> Ship 2 Name: <%= @ship2name%></h3><br>
<h3> Ship 2 Type: <%= @ship2type%></h3><br>
<h3> Ship 2 Booty: <%= @ship2booty%></h3>
